<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= book_result.title%></h1>
    <img src="" alt="">
    <h2>Description: <%= book_result.desc%></h2>

       <% for(let i=0; i < comments_result.length;i++){ %>
        <div class="comment_box">
          <h2>Commenter: <%= comments_result[i].commenter_name%>  </h2>
          <h2>Comment : <%= comments_result[i].comment%></h2>

        </div>
        <% } %>





    <form class="" action="/comments/<%=book_result.id%>" method="post">
      <input type="text" name="commenter_name" placeholder="">
      <input type="text" name="comment" placeholder="">
      <input type="submit" value="Submit">

    </form>


  </body>
</html>
